<!DOCTYPE HTML>

<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body class="app__base">

    <header class="app__header">
        <h1 class="app__title"><span role="img" aria-label="Slot Machine">🎰</span> Blockstack Casino</h1>
        <div class="app__user">
            <div id='heading-name'></div>
            <div id='avatar-image'></div>
            <button id='login' type="button" class="btn btn-success">Login with Blockstack</button>
        </div>
        <ul class="app__state">
            <li class="app__prop">
                <span class="app__icon" role="img" aria-label="Coins">Coins 💶</span>
                <span class="app__value" id="coins">XXX</span>
            </li>
            <li class="app__prop">
                <span class="app__icon" role="img" ara-label="Jackpot">Jackpot 💎</span>
                <span class="app__value" id="jackpot">XXX</span>
            </li>
            <li class="app__prop">
                <span class="app__icon" role="img" aria-label="Spins">Used Spins 🎲</span>
                <span class="app__value" id="spins">XXX</span>
            </li>
        </ul>
    </header>

    <main class="app__main" id="main">
  
        <section class="sm__base">
            <div class="sm__display sm__display--background"></div>
            <div class="sm__reelsContainer"></div>
            <div class="sm__display sm__display--shadow"></div>
        </section>
    </main>

    <footer class="app__footer">
            <a class="app__link" href="https://github.com/cbonoz/blockstack-casino" target="_blank">
                <span class="app__linkIcon" role="img" aria-label="Source Code">‍Click Wheel to Spin!</span>
                <span class="app__linkUnderline">Check it out on GitHub.</span>&nbsp;
                <span id='high-score' class="app__highScore"></span>
            </a>
    </footer>

</body>
</html>
